.standard {
  min-width: 320px;
  margin: 0 auto;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.standard_box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#menu {
  min-width: 320px;
  margin: 0 auto;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  /*header start*/
  /*header end*/
  /*footer  start*/
  /*footer  end*/
}
#menu header {
  background-image: url("../img/bg.png");
  /*burger made start*/
  /*burger made end*/
}
#menu header .header_top {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  z-index: 100;
  width: 100%;
  position: relative;
}
#menu header .header_top .header_top_logo {
  width: 30%;
}
#menu header .header_top nav {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
#menu header .header_top nav .header_top_nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
#menu header .header_top nav .header_top_nav li {
  position: relative;
  cursor: pointer;
}
#menu header .header_top nav .header_top_nav li a {
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #ffd79b;
  padding: 5px;
}
#menu header .header_top nav .header_top_nav li a:hover {
  color: #fff;
}
#menu header .header_top nav .header_top_counter_buy {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #D32F2F;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  right: 1%;
  top: 1%;
}
#menu header .button_made_burgers {
  display: flex;
  align-items: center;
  margin: 1%;
  border: none;
  outline: none;
  background-color: #6D4C41;
  position: fixed;
  top: 80%;
  z-index: 100;
  cursor: pointer;
  height: 60px;
  border-radius: 30px;
  opacity: 0.95;
}
#menu header .button_made_burgers span {
  border-radius: 50%;
  width: 60px;
  height: 50px;
  margin: 0 4%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu header .button_made_burgers span img {
  width: 70%;
}
#menu header .button_made_burgers p {
  color: #fff;
  font-family: Passion One, cursive;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
#menu header .button_made_burgers:hover {
  background-color: #6D4C41;
  opacity: 1;
}
#menu footer .footer_top_map {
  width: 100%;
}
#menu footer .footer_top {
  background-image: url("../img/map.png");
  padding-bottom: 10%;
}
#menu footer .footer_top .footer_top_contact {
  margin: 5% 0 0 8%;
  width: 18%;
  display: flex;
  flex-direction: column;
}
#menu footer .footer_top .footer_top_contact h4 {
  color: #FFA726;
  text-transform: uppercase;
  font-family: Passion One, cursive;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5%;
}
#menu footer .footer_top .footer_top_contact h4 span {
  color: #5D4037;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_address {
  width: 100%;
  background-color: #FFA62A;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_address select {
  background-color: #FFA62A;
  padding: 3% 0;
  outline: none;
  border: none;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 16px;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_address select option {
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 18px;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone {
  width: 100%;
  background-color: #5D4037;
  padding: 5%;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone h6 {
  color: #fff;
  font-family: Passion One, cursive;
  font-weight: 600;
  font-size: 25px;
  border-bottom: 1px solid #FFA62A;
  padding-bottom: 8%;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone h6 span {
  color: #FFA62A;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description {
  display: flex;
  margin: 8% 0;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_left .fa-phone-volume {
  color: #FFA62A;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_right {
  width: 100%;
  margin-left: 5%;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_right p {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 20px;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_right p:nth-child(2) {
  margin: 3% 0 5%;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_right .footer_top_contact_form_phone_right_social {
  width: 70%;
  display: flex;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_right .footer_top_contact_form_phone_right_social a {
  width: 32%;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_right .footer_top_contact_form_phone_right_social a img {
  width: 100%;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_right .footer_top_contact_form_phone_right_social a:nth-child(2) {
  margin: 0 5%;
}
#menu footer .footer_down {
  display: flex;
  justify-content: space-between;
  background-color: #5D4037;
  padding: 1% 8%;
}
#menu footer .footer_down .footer_down_left {
  width: 40%;
  display: flex;
  justify-content: flex-start;
}
#menu footer .footer_down .footer_down_left h5 {
  margin-left: 3%;
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 18px;
  opacity: 0.7;
}
#menu footer .footer_down .footer_down_right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
#menu footer .footer_down .footer_down_right h5 {
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 18px;
  opacity: 0.7;
}
