@import "constants";

* {
  .standard_box;
}

#contacts {

  .standard;

/*header*/
  @import "header";

  header{
    background-image: url("../img/bg-header.png");
    .header_top{
      padding: 2% 5% 1.74%;
    }
    .header_body{
      display: none;
    }
  }

/*main content*/
  .contact_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;

    h3{
      color: @color-wine;
      text-transform: uppercase;
      font-family: @font-PassionOne;
      font-size: @font-size-banner + @font-size-menu-name;
      font-weight: 700;
      margin:  2% 0;
    }

    hr{
      width: 10%;
      height:5px;
      background-color: @color-yellow-text;
      border: none;
    }

    .contact_content_wrapper{
      display: flex;
      margin: 2%;
      padding: 1%;
      justify-content: space-around;

      /*form contact*/
      .contact_content_wrapper_form{
        width: 25%;
        display: flex;
        flex-direction: column;
        h4{
          color: @color-yellow-title;
          text-transform: uppercase;
          font-family: @font-PassionOne;
          font-size: @font-size-menu-name + 10px;
          font-weight: 700;
          margin-bottom: 5%;
          span{
            color: @color-wine;
          }
        }

        /*contact*/
        .contact_content_wrapper_form_block{

          /*address information*/
          .contact_content_wrapper_form_block_address{
            width: 100%;
            background-color: @color-yellow-text;
            select{
              width: 100%;
              background-color: @color-yellow-text;
              padding: 3% 0;
              outline: none;
              border: none;
              color: @color-content;
              font-family: @font-OpenSans;
              font-weight: 600;
              font-size: @font-size-standard;
              option{
                width: 100%;
                outline: none;
                border: none;
                color: @color-content;
                font-family: @font-OpenSans;
                font-weight: 600;
                font-size: @font-size-content;
              }
            }
          }

          /*phone information*/
          .contact_content_wrapper_form_block_phone{
            width: 100%;
            background-color: @color-wine;
            padding: 5%;
            h6{
              color: @color-content;
              font-family: @font-PassionOne;
              font-weight: 600;
              font-size: @font-size-menu-name - 5px;
              border-bottom: 1px solid @color-yellow-text;
              padding-bottom: 8%;
              span{
                color: @color-yellow-text;
              }
            }
            .contact_content_wrapper_form_block_phone_description{
              display: flex;
              margin: 8% 0;
              .contact_content_wrapper_form_block_phone_left{
                .fa-phone-volume{
                  color: @color-yellow-text;
                }
              }

              .contact_content_wrapper_form_block_phone_right{
                width: 100%;
                margin-left: 5%;
                p{
                  font-family: @font-OpenSans;
                  font-weight: 600;
                  font-size: @font-size-content + 2px;
                  &:nth-child(2){
                    margin: 3% 0 5%;
                  }
                }
                .contact_content_wrapper_form_block_phone_right_social{
                  width: 70%;
                  display: flex;
                  a{
                    width: 32%;
                    img{
                      width: 100%;
                    }
                    &:nth-child(2){
                      margin: 0 5%;
                    }
                  }
                }
              }
            }
          }
        }
      }

      /*image*/
      .contact_content_wrapper_img{
        width: 10%;
        img{
          width: 100%;
        }
      }

      /*schedule*/
      .contact_content_wrapper_schedule{
        width: 25%;
        h4{
          color: @color-yellow-title;
          text-transform: uppercase;
          font-family: @font-PassionOne;
          font-size: @font-size-menu-name + 10px;
          font-weight: 700;
          margin-bottom: 5%;
          span{
            color: @color-wine;
          }
        }
        p{
          color: @color-wine;
          font-family: @font-OpenSans;
          font-size: @font-size-menu-name;
          &:last-child{
            font-size: @font-size-menu-name - 5px;
          }
        }
        h5{
          color: @color-yellow-title;
          font-family: @font-PassionOne;
          font-size: @font-size-menu-name ;
          font-weight: 700;
        }
      }
    }

  }

/*footer*/
  @import "footer";

  .footer_top{
    height: 500px;
    .footer_top_contact{
      h4{
        display: none;
      }
      .footer_top_contact_form{
        display: none;
      }
    }
  }



}

