@import "constants";


* {
  .standard_box;
}
#menu {

  .standard;

  /*header start*/
  @import "header";
  /*header end*/

  /*menu start*/
  main{
      display: flex;
      flex-direction: column;
      align-items: center;
      h3{
        color: @color-yellow-title;
        text-transform: uppercase;
        font-family: @font-PassionOne;
        font-size: @font-size-banner + @font-size-menu-name;
        font-weight: 700;
        margin:  2% 0;
        span{
          color: @color-wine;
        }
      }
      hr{
        width: 10%;
        height:5px;
        background-color: @color-yellow-text;
        border: none;
      }

      /*menu wrapper*/
      .menu_wrapper{
        width: 100%;
        display: flex;

         /*menu*/
        .menu_wrapper_block{
          width: 75%;

          /*burgers parts*/
          .menu_wrapper_burgers_slider{
            display: none;
            width: 100%;
            padding: 1% 2% ;
            justify-content: space-around;
            flex-wrap: wrap;

            .menu_wrapper_burgers_slider_slide{
              display: flex;
              flex-direction: column;
              margin: 1%;
              padding-top: 15%;
              outline: none;
              width: 22%;
              height: 380px;

              transform: scale(1,1) ;
              transition-timing-function: ease-out;
              transition-duration: 550ms;

              .menu_wrapper_burgers_slider_slide_picture{
                display: flex;
                flex-direction: column;
                position: relative;
                img{
                  width: 100%;
                  position: absolute;
                  bottom: 15%;
                }
                .menu_wrapper_burgers_slider_slide_picture_square{
                  height: 50px;
                  background-color: @color-yellow-title;
                }
              }
              .menu_wrapper_burgers_slider_slide_title{
                display: flex;
                .menu_wrapper_burgers_slider_slide_title_name{
                  display: flex;
                  flex-direction: column;
                  width: 70%;
                  border-top: 3px solid @color-wine;
                  border-bottom: 3px solid @color-wine;
                  padding: 5% 0 5% 3%;
                  h6{
                    color: @color-wine-menu - 2px;
                    font-family: @font-OpenSans;
                    font-weight: 600;
                    font-size: @font-size-menu-description;
                  }
                  h5{
                    color: @color-wine;
                    font-family: @font-PassionOne;
                    font-weight: 700;
                    font-size: @font-size-menu-name - 6px;
                    text-transform: uppercase;
                  }
                }
                .menu_wrapper_burgers_slider_slide_title_price{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 30%;
                  border-top: 3px solid @color-yellow-title;
                  border-bottom: 3px solid @color-yellow-title;
                  padding-top: 5%;
                  h5{
                    color: @color-yellow-text;
                    font-family: @font-PassionOne;
                    font-weight: 700;
                    font-size: @font-size-menu-name - 6px;
                  }
                }
              }
              .menu_wrapper_burgers_slider_slide_description{
                display: flex;
                background-color: @color-bg-menu;
                .menu_wrapper_burgers_slider_slide_description_ingredients{
                  display: flex;
                  flex-wrap: wrap;
                  width: 70%;
                  padding: 3% 0 3% 3%;
                  p{
                    color:@color-wine-menu;
                    font-family: @font-OpenSans;
                    font-weight: 600;
                    font-size: @font-size-menu-description;
                  }
                }
                .menu_wrapper_burgers_slider_slide_description_gram{
                  display: flex;
                  justify-content: flex-end;
                  width: 30%;
                  padding: 5% 3% 3% 0;
                  h6{
                    color:@color-wine-menu;
                    font-family: @font-OpenSans;
                    font-weight: 700;
                    font-size: @font-size-content;
                    opacity: 0.7;
                  }
                }
              }
              .menu_wrapper_burgers_slider_slide_likes{
                display: none;
                background-color: @color-bg-menu;
                .menu_wrapper_burgers_slider_slide_likes_like{
                  display: flex;
                  width: 70%;
                  padding: 2% 0 2% 3%;
                  .fa-heart{
                    color: @color-wine-menu ;
                  }
                  p{
                    color:@color-wine-menu;
                    font-family: @font-OpenSans;
                    font-weight: 400;
                    font-size: @font-size-menu-description;
                    padding-left: 3%;
                    display: flex;
                    span{
                      color:@color-wine-menu;
                      opacity: 0.8;
                      padding-left: 3%;
                    }
                  }
                }
                .menu_wrapper_burgers_slider_slide_likes_kcal{
                  display: flex;
                  justify-content: flex-end;
                  width: 30%;
                  padding: 2% 0 ;
                  p{
                    color:@color-wine-menu;
                    font-family: @font-OpenSans;
                    font-weight: 700;
                    font-size: @font-size-menu-description;
                    opacity: 0.7;
                  }
                }
              }
              .menu_wrapper_burgers_slider_slide_order{
                display: none;
                justify-content: center;
                background-color: @color-bg-menu;
                padding: 2% 0 ;
                .menu_wrapper_burgers_slider_slide_order_button{
                  border:2px solid @color-wine;
                  color: @color-wine;
                  width: 90%;
                  padding: 2% 0;
                  background-color: @color-bg-menu;
                  text-transform: uppercase;
                  font-family: @font-PassionOne;
                  font-weight: 700;
                  font-size: @font-size-content;
                  opacity: 0.8;
                  cursor: pointer;
                  &:hover{
                    opacity: 1;
                  }
                }
              }
              &:hover{
                cursor: pointer;
                transform: scale(1.2,1.2);
                transition-timing-function: ease-out;
                transition-duration: 550ms;
                position: relative;
                .menu_wrapper_burgers_slider_slide_likes{
                  display: flex;
                }
                .menu_wrapper_burgers_slider_slide_order{
                  display: flex;
                }
              }
            }
          }
          .menu_wrapper_burgers_slider.active {
            display: flex;
          }

          /*potato parts*/
          .menu_wrapper_potato_slider{
            display: none;
            width: 100%;
            padding: 0 3%;
            justify-content: center;
            flex-wrap: wrap;

            .menu_wrapper_potato_slider_slide{
              display: flex;
              flex-direction: column;
              margin: 4% 2%;
              padding-top: 15%;
              outline: none;
              width: 20%;

              transform: scale(1,1) ;
              transition-timing-function: ease-out;
              transition-duration: 550ms;

              .menu_wrapper_potato_slider_slide_picture{
                display: flex;
                flex-direction: column;
                position: relative;
                img{
                  width: 100%;
                  position: absolute;
                  bottom: 15%;
                }
                .menu_wrapper_potato_slider_slide_picture_square{
                  height: 50px;
                  background-color: @color-yellow-title;
                }
              }
              .menu_wrapper_potato_slider_slide_title{
                display: flex;
                .menu_wrapper_potato_slider_slide_title_name{
                  display: flex;
                  flex-direction: column;
                  width: 70%;
                  border-top: 3px solid @color-wine;
                  border-bottom: 3px solid @color-wine;
                  padding: 5% 0 5% 3%;
                  h6{
                    color: @color-wine-menu;
                    font-family: @font-OpenSans;
                    font-weight: 600;
                    font-size: @font-size-menu-description;
                  }
                  h5{
                    color: @color-wine;
                    font-family: @font-PassionOne;
                    font-weight: 700;
                    font-size: @font-size-menu-name - 2px;
                    text-transform: uppercase;
                  }
                }
                .menu_wrapper_potato_slider_slide_title_price{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 30%;
                  border-top: 3px solid @color-yellow-title;
                  border-bottom: 3px solid @color-yellow-title;
                  padding-top: 5%;
                  h5{
                    color: @color-yellow-text;
                    font-family: @font-PassionOne;
                    font-weight: 700;
                    font-size: @font-size-menu-name - 5px;
                  }
                }
              }
              .menu_wrapper_potato_slider_slide_description{
                display: flex;
                background-color: @color-bg-menu;
                .menu_wrapper_potato_slider_slide_description_ingredients{
                  display: flex;
                  flex-wrap: wrap;
                  width: 70%;
                  padding: 5% 0 6% 3%;
                  p{
                    color:@color-wine-menu;
                    font-family: @font-OpenSans;
                    font-weight: 700;
                    font-size: @font-size-content - 2px;
                  }
                }
                .menu_wrapper_potato_slider_slide_description_gram{
                  display: flex;
                  justify-content: flex-end;
                  width: 30%;
                  padding: 5% 3% 6% 0;
                  h6{
                    color:@color-wine-menu;
                    font-family: @font-OpenSans;
                    font-weight: 700;
                    font-size: @font-size-content;
                    opacity: 0.7;
                  }
                }
              }
              .menu_wrapper_potato_slider_slide_likes{
                display: none;
                background-color: @color-bg-menu;
                .menu_wrapper_potato_slider_slide_likes_like{
                  display: flex;
                  width: 70%;
                  padding: 2% 0 2% 3%;
                  .fa-heart{
                    color: @color-wine-menu ;
                  }
                  p{
                    color:@color-wine-menu;
                    font-family: @font-OpenSans;
                    font-weight: 400;
                    font-size: @font-size-menu-description;
                    padding-left: 3%;
                    display: flex;
                    span{
                      color:@color-wine-menu;
                      opacity: 0.8;
                      padding-left: 3%;
                    }
                  }
                }
                .menu_wrapper_potato_slider_slide_likes_kcal{
                  display: flex;
                  justify-content: flex-end;
                  width: 30%;
                  padding: 2% 0 ;
                  p{
                    color:@color-wine-menu;
                    font-family: @font-OpenSans;
                    font-weight: 700;
                    font-size: @font-size-menu-description;
                    opacity: 0.7;
                  }
                }
              }
              .menu_wrapper_potato_slider_slide_order{
                display: none;
                justify-content: center;
                background-color: @color-bg-menu;
                padding: 2% 0 ;
                .menu_wrapper_potato_slider_slide_order_button{
                  border:2px solid @color-wine;
                  color: @color-wine;
                  width: 90%;
                  padding: 2% 0;
                  background-color: @color-bg-menu;
                  text-transform: uppercase;
                  font-family: @font-PassionOne;
                  font-weight: 700;
                  font-size: @font-size-content;
                  opacity: 0.8;
                  cursor: pointer;
                  &:hover{
                    opacity: 1;
                  }
                }
              }
              &:hover{
                cursor: pointer;
                transform: scale(1.2,1.2);
                transition-timing-function: ease-out;
                transition-duration: 550ms;
                position: relative;

                .menu_wrapper_potato_slider_slide_likes{
                  display: flex;
                }
                .menu_wrapper_potato_slider_slide_order{
                  display: flex;
                }
              }
              &:last-child{
                width: 25%;
                .menu_wrapper_potato_slider_slide_picture{
                  display: flex;
                  flex-direction: column;
                  position: relative;
                  img{
                    width: 70%;
                    position: absolute;
                    bottom: 15%;
                    left: 10%;
                  }
                }
              }
            }
          }
          .menu_wrapper_potato_slider.active {
            display: flex;
          }

          /*drinks parts*/
          .menu_wrapper_drinks_slider{
            display: none;
            width: 100%;
            padding: 1% 2% ;
            justify-content: space-around;
            flex-wrap: wrap;

            .menu_wrapper_drinks_slider_slide{
              display: flex;
              flex-direction: column;
              margin:2% 2%;
              padding-top: 15%;
              outline: none;
              width: 20%;
              height: 380px;
              transform: scale(1,1) ;
              transition-timing-function: ease-out;
              transition-duration: 550ms;
              .menu_wrapper_drinks_slider_slide_picture{
                display: flex;
                flex-direction: column;
                position: relative;
                img{
                  width: 100%;
                  position: absolute;
                  bottom: 15%;
                }
                .menu_wrapper_drinks_slider_slide_picture_square{
                  height: 50px;
                  background-color: @color-yellow-title;
                }
              }
              .menu_wrapper_drinks_slider_slide_title{
                display: flex;
                .menu_wrapper_drinks_slider_slide_title_name{
                  display: flex;
                  flex-direction: column;
                  width: 70%;
                  border-top: 3px solid @color-wine;
                  border-bottom: 3px solid @color-wine;
                  padding: 5% 0 5% 3%;
                  h6{
                    color: @color-wine-menu;
                    font-family: @font-OpenSans;
                    font-weight: 600;
                    font-size: @font-size-menu-description;
                  }
                  h5{
                    color: @color-wine;
                    font-family: @font-PassionOne;
                    font-weight: 700;
                    font-size: @font-size-menu-name - 8px;
                    text-transform: uppercase;
                  }
                }
                .menu_wrapper_drinks_slider_slide_title_price{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 30%;
                  border-top: 3px solid @color-yellow-title;
                  border-bottom: 3px solid @color-yellow-title;
                  padding-top: 5%;
                  h5{
                    color: @color-yellow-text;
                    font-family: @font-PassionOne;
                    font-weight: 700;
                    font-size: @font-size-content + 4px;
                  }
                }
              }
              .menu_wrapper_drinks_slider_slide_likes{
                display: flex;
                background-color: @color-bg-menu;
                padding: 2% 0;
                .menu_wrapper_drinks_slider_slide_likes_like{
                  display: flex;
                  width: 70%;
                  padding: 2% 0 2% 3%;
                  .fa-heart{
                    color: @color-wine-menu ;
                  }
                  p{
                    color:@color-wine-menu;
                    font-family: @font-OpenSans;
                    font-weight: 400;
                    font-size: @font-size-menu-description;
                    padding-left: 3%;
                    display: flex;
                    span{
                      color:@color-wine-menu;
                      opacity: 0.8;
                      padding-left: 3%;
                    }
                  }
                }
                .menu_wrapper_drinks_slider_slide_description_ml{
                  display: flex;
                  justify-content: flex-end;
                  width: 30%;
                  padding: 2%;
                  h6{
                    color:@color-wine-menu;
                    font-family: @font-OpenSans;
                    font-weight: 700;
                    font-size: @font-size-menu-description;
                    opacity: 0.7;
                  }
                }
              }
              .menu_wrapper_drinks_slider_slide_order{
                display: none;
                justify-content: center;
                background-color: @color-bg-menu;
                padding: 1% 0 5%;
                .menu_wrapper_drinks_slider_slide_order_button{
                  border:2px solid @color-wine;
                  color: @color-wine;
                  width: 90%;
                  padding: 2% 0;
                  background-color: @color-bg-menu;
                  text-transform: uppercase;
                  font-family: @font-PassionOne;
                  font-weight: 700;
                  font-size: @font-size-content;
                  opacity: 0.8;
                  cursor: pointer;
                  &:hover{
                    opacity: 1;
                  }
                }
              }
              &:hover{
                cursor: pointer;
                transform: scale(1.2,1.2);
                transition-timing-function: ease-out;
                transition-duration: 550ms;
                position: relative;
                .menu_wrapper_drinks_slider_slide_order{
                  display: flex;
                }
              }
            }
          }
          .menu_wrapper_drinks_slider.active {
            display: flex;
          }

        }

        /*buttons part*/
        .menu_wrapper_buttons{
          display: flex;
          flex-direction: column;
          width: 20%;
          padding-top: 7%;
          padding-bottom: 2%;
          margin-left: 5%;
          .menu_wrapper_buttons_button{
            outline: none;
            width: 100%;
            padding: 8% 0;
            background-color: @color-content;
            text-transform: uppercase;
            font-family: @font-PassionOne;
            font-size: @font-size-menu-name - 5px;
            color: @color-wine;
            border: 2px solid @color-wine;
            cursor: pointer;
            margin: 10% 0;
          }
          .menu_wrapper_buttons_button.active {
            color: @color-yellow-text;
            border: 2px solid @color-yellow-text;
          }
        }
      }
    }
  /*menu  end

  /*footer start*/
  @import "footer";
  /*footer end*/
}

