.standard {
  min-width: 320px;
  margin: 0 auto;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.standard_box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#menu {
  min-width: 320px;
  margin: 0 auto;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  /*header start*/
  /*header end*/
  /*menu start*/
  /*menu  end*/
  /*footer  start*/
  /*footer  end*/
}
#menu header {
  background-image: url("../img/bg.png");
  /*burger made start*/
  /*burger made end*/
}
#menu header .header_top {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  z-index: 100;
  width: 100%;
  position: relative;
}
#menu header .header_top .header_top_logo {
  width: 30%;
}
#menu header .header_top nav {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
#menu header .header_top nav .header_top_nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
#menu header .header_top nav .header_top_nav li {
  position: relative;
  cursor: pointer;
}
#menu header .header_top nav .header_top_nav li a {
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #ffd79b;
  padding: 5px;
}
#menu header .header_top nav .header_top_nav li a:hover {
  color: #fff;
}
#menu header .header_top nav .header_top_counter_buy {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #D32F2F;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  right: 1%;
  top: 1%;
}
#menu header .header_body .sl .sl_slide {
  display: flex;
  border: none;
  outline: none;
}
#menu header .header_body .sl .sl_slide .header_body_left {
  width: 50%;
}
#menu header .header_body .sl .sl_slide .header_body_left img {
  margin-right: 2%;
}
#menu header .header_body .sl .sl_slide .header_body_right {
  width: 50%;
  margin: 15% 0 8% 8%;
  padding: 2%;
}
#menu header .header_body .sl .sl_slide .header_body_right .header_body_right_name {
  line-height: 0.8;
}
#menu header .header_body .sl .sl_slide .header_body_right .header_body_right_name h5 {
  color: #5D4037;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding-left: 1%;
}
#menu header .header_body .sl .sl_slide .header_body_right .header_body_right_name h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 110px;
  font-family: Passion One, cursive;
  font-weight: 700;
}
#menu header .header_body .sl .sl_slide .header_body_right .header_body_right_name h4 span {
  color: #5D4037;
}
#menu header .header_body .sl .sl_slide .header_body_right .header_body_right_prise {
  display: flex;
  padding-left: 1%;
  margin: 3% 0;
}
#menu header .header_body .sl .sl_slide .header_body_right .header_body_right_prise .header_body_right_prise_sale {
  font-size: 50px;
  font-family: Open Sans, sans-serif;
  font-weight: 800;
}
#menu header .header_body .sl .sl_slide .header_body_right .header_body_right_prise .header_body_right_prise_regular {
  font-size: 30px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  padding: 2% 0 0 3%;
  color: #ffd79b;
  text-decoration: line-through;
}
#menu header .header_body .sl .sl_slide .header_body_right .header_body_right_order {
  padding-left: 1%;
}
#menu header .header_body .sl .sl_slide .header_body_right .header_body_right_order .header_body_right_order_button {
  cursor: pointer;
  border: 2px solid #ffd79b;
  background-color: #FFA62A;
  color: #ffd79b;
  text-transform: uppercase;
  font-family: Passion One, cursive;
  font-size: 50px;
  padding: 1% 4%;
  outline: none;
}
#menu header .header_body .sl .sl_slide .header_body_right .header_body_right_order .header_body_right_order_button:hover {
  color: #fff;
  border: 2px solid #fff;
}
#menu header .header_body .sl .slick-dots {
  position: absolute;
  display: block;
  width: 10%;
  left: 59%;
  list-style: none;
  text-align: center;
  bottom: 25%;
  z-index: 5;
}
#menu header .header_body .sl .slick-dots li {
  margin: 5px;
}
#menu header .header_body .sl .slick-dots li button {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #fff;
  opacity: 0.6;
}
#menu header .header_body .sl .slick-dots li button::before {
  content: '';
}
#menu header .header_body .sl .slick-dots .slick-active button {
  background-color: #fff;
  opacity: 1;
}
#menu header .header_body .slick-dotted.slick-slider {
  margin-bottom: 0;
}
#menu header .header_body .slick-list {
  z-index: 10;
}
#menu header .button_made_burgers {
  display: flex;
  align-items: center;
  margin: 1%;
  border: none;
  outline: none;
  background-color: #6D4C41;
  position: fixed;
  top: 80%;
  z-index: 100;
  cursor: pointer;
  height: 60px;
  border-radius: 30px;
  opacity: 0.95;
}
#menu header .button_made_burgers span {
  border-radius: 50%;
  width: 60px;
  height: 50px;
  margin: 0 4%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu header .button_made_burgers span img {
  width: 70%;
}
#menu header .button_made_burgers p {
  color: #fff;
  font-family: Passion One, cursive;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
#menu header .button_made_burgers:hover {
  background-color: #6D4C41;
  opacity: 1;
}
#menu main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu main h3 {
  color: #FFA726;
  text-transform: uppercase;
  font-family: Passion One, cursive;
  font-size: 80px;
  font-weight: 700;
  margin: 2% 0;
}
#menu main h3 span {
  color: #5D4037;
}
#menu main hr {
  width: 10%;
  height: 5px;
  background-color: #FFA62A;
  border: none;
}
#menu main .menu_wrapper {
  width: 100%;
  display: flex;
}
#menu main .menu_wrapper .menu_wrapper_block {
  width: 75%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider {
  display: none;
  width: 100%;
  padding: 0 3% ;
  justify-content: space-around;
  flex-wrap: wrap;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide {
  display: flex;
  flex-direction: column;
  margin: 4% 2%;
  padding-top: 15%;
  outline: none;
  width: 20%;
  transform: scale(1, 1);
  transition-timing-function: ease-out;
  transition-duration: 550ms;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_picture {
  display: flex;
  flex-direction: column;
  position: relative;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_picture img {
  width: 100%;
  position: absolute;
  bottom: 15%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_picture .menu_wrapper_burgers_slider_slide_picture_square {
  height: 50px;
  background-color: #FFA726;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_title {
  display: flex;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_title .menu_wrapper_burgers_slider_slide_title_name {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-top: 3px solid #5D4037;
  border-bottom: 3px solid #5D4037;
  padding: 5% 0 5% 3%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_title .menu_wrapper_burgers_slider_slide_title_name h6 {
  color: #6D4C41;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 14px;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_title .menu_wrapper_burgers_slider_slide_title_name h5 {
  color: #5D4037;
  font-family: Passion One, cursive;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_title .menu_wrapper_burgers_slider_slide_title_price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-top: 3px solid #FFA726;
  border-bottom: 3px solid #FFA726;
  padding-top: 5%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_title .menu_wrapper_burgers_slider_slide_title_price h5 {
  color: #FFA62A;
  font-family: Passion One, cursive;
  font-weight: 700;
  font-size: 25px;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_description {
  display: flex;
  background-color: #F5F5F5;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_description .menu_wrapper_burgers_slider_slide_description_ingredients {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: 3% 0 3% 3%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_description .menu_wrapper_burgers_slider_slide_description_ingredients p {
  color: #6D4C41;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 14px;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_description .menu_wrapper_burgers_slider_slide_description_gram {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  padding: 5% 3% 3% 0;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_description .menu_wrapper_burgers_slider_slide_description_gram h6 {
  color: #6D4C41;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 18px;
  opacity: 0.7;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_likes {
  display: none;
  background-color: #F5F5F5;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_likes .menu_wrapper_burgers_slider_slide_likes_like {
  display: flex;
  width: 70%;
  padding: 2% 0 2% 3%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_likes .menu_wrapper_burgers_slider_slide_likes_like .fa-heart {
  color: #6D4C41;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_likes .menu_wrapper_burgers_slider_slide_likes_like p {
  color: #6D4C41;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 3%;
  display: flex;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_likes .menu_wrapper_burgers_slider_slide_likes_like p span {
  color: #6D4C41;
  opacity: 0.8;
  padding-left: 3%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_likes .menu_wrapper_burgers_slider_slide_likes_kcal {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  padding: 2% 0 ;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_likes .menu_wrapper_burgers_slider_slide_likes_kcal p {
  color: #6D4C41;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  opacity: 0.7;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_order {
  display: none;
  justify-content: center;
  background-color: #F5F5F5;
  padding: 2% 0 ;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_order .menu_wrapper_burgers_slider_slide_order_button {
  border: 2px solid #5D4037;
  color: #5D4037;
  width: 90%;
  padding: 2% 0;
  background-color: #F5F5F5;
  text-transform: uppercase;
  font-family: Passion One, cursive;
  font-weight: 700;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide .menu_wrapper_burgers_slider_slide_order .menu_wrapper_burgers_slider_slide_order_button:hover {
  opacity: 1;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide:hover {
  transform: scale(1.2, 1.2);
  transition-timing-function: ease-out;
  transition-duration: 550ms;
  position: relative;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide:hover .menu_wrapper_burgers_slider_slide_likes {
  display: flex;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider .menu_wrapper_burgers_slider_slide:hover .menu_wrapper_burgers_slider_slide_order {
  display: flex;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_burgers_slider.active {
  display: flex;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider {
  display: none;
  width: 100%;
  padding: 0 3%;
  justify-content: center;
  flex-wrap: wrap;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide {
  display: flex;
  flex-direction: column;
  margin: 4% 2%;
  padding-top: 15%;
  outline: none;
  width: 20%;
  transform: scale(1, 1);
  transition-timing-function: ease-out;
  transition-duration: 550ms;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_picture {
  display: flex;
  flex-direction: column;
  position: relative;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_picture img {
  width: 100%;
  position: absolute;
  bottom: 15%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_picture .menu_wrapper_potato_slider_slide_picture_square {
  height: 50px;
  background-color: #FFA726;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_title {
  display: flex;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_title .menu_wrapper_potato_slider_slide_title_name {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-top: 3px solid #5D4037;
  border-bottom: 3px solid #5D4037;
  padding: 5% 0 5% 3%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_title .menu_wrapper_potato_slider_slide_title_name h6 {
  color: #6D4C41;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 14px;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_title .menu_wrapper_potato_slider_slide_title_name h5 {
  color: #5D4037;
  font-family: Passion One, cursive;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_title .menu_wrapper_potato_slider_slide_title_price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-top: 3px solid #FFA726;
  border-bottom: 3px solid #FFA726;
  padding-top: 5%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_title .menu_wrapper_potato_slider_slide_title_price h5 {
  color: #FFA62A;
  font-family: Passion One, cursive;
  font-weight: 700;
  font-size: 25px;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_description {
  display: flex;
  background-color: #F5F5F5;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_description .menu_wrapper_potato_slider_slide_description_ingredients {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: 5% 0 6% 3%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_description .menu_wrapper_potato_slider_slide_description_ingredients p {
  color: #6D4C41;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 18px;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_description .menu_wrapper_potato_slider_slide_description_gram {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  padding: 5% 3% 6% 0;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_description .menu_wrapper_potato_slider_slide_description_gram h6 {
  color: #6D4C41;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 18px;
  opacity: 0.7;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_likes {
  display: none;
  background-color: #F5F5F5;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_likes .menu_wrapper_potato_slider_slide_likes_like {
  display: flex;
  width: 70%;
  padding: 2% 0 2% 3%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_likes .menu_wrapper_potato_slider_slide_likes_like .fa-heart {
  color: #6D4C41;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_likes .menu_wrapper_potato_slider_slide_likes_like p {
  color: #6D4C41;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 3%;
  display: flex;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_likes .menu_wrapper_potato_slider_slide_likes_like p span {
  color: #6D4C41;
  opacity: 0.8;
  padding-left: 3%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_likes .menu_wrapper_potato_slider_slide_likes_kcal {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  padding: 2% 0 ;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_likes .menu_wrapper_potato_slider_slide_likes_kcal p {
  color: #6D4C41;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  opacity: 0.7;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_order {
  display: none;
  justify-content: center;
  background-color: #F5F5F5;
  padding: 2% 0 ;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_order .menu_wrapper_potato_slider_slide_order_button {
  border: 2px solid #5D4037;
  color: #5D4037;
  width: 90%;
  padding: 2% 0;
  background-color: #F5F5F5;
  text-transform: uppercase;
  font-family: Passion One, cursive;
  font-weight: 700;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide .menu_wrapper_potato_slider_slide_order .menu_wrapper_potato_slider_slide_order_button:hover {
  opacity: 1;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide:hover {
  transform: scale(1.2, 1.2);
  transition-timing-function: ease-out;
  transition-duration: 550ms;
  position: relative;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide:hover .menu_wrapper_potato_slider_slide_likes {
  display: flex;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider .menu_wrapper_potato_slider_slide:hover .menu_wrapper_potato_slider_slide_order {
  display: flex;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_potato_slider.active {
  display: flex;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider {
  display: none;
  width: 100%;
  padding: 0 3%;
  justify-content: space-around;
  flex-wrap: wrap;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide {
  display: flex;
  flex-direction: column;
  margin: 4% 2%;
  padding-top: 15%;
  outline: none;
  width: 20%;
  transform: scale(1, 1);
  transition-timing-function: ease-out;
  transition-duration: 550ms;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_picture {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_picture img {
  width: 100%;
  position: absolute;
  bottom: 15%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_picture .menu_wrapper_drinks_slider_slide_picture_square {
  height: 50px;
  background-color: #FFA726;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_title {
  display: flex;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_title .menu_wrapper_drinks_slider_slide_title_name {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-top: 3px solid #5D4037;
  border-bottom: 3px solid #5D4037;
  padding: 5% 0 5% 3%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_title .menu_wrapper_drinks_slider_slide_title_name h6 {
  color: #6D4C41;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 14px;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_title .menu_wrapper_drinks_slider_slide_title_name h5 {
  color: #5D4037;
  font-family: Passion One, cursive;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_title .menu_wrapper_drinks_slider_slide_title_price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-top: 3px solid #FFA726;
  border-bottom: 3px solid #FFA726;
  padding-top: 5%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_title .menu_wrapper_drinks_slider_slide_title_price h5 {
  color: #FFA62A;
  font-family: Passion One, cursive;
  font-weight: 700;
  font-size: 14px;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_likes {
  display: flex;
  background-color: #F5F5F5;
  padding: 2% 0 1%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_likes .menu_wrapper_drinks_slider_slide_likes_like {
  display: flex;
  width: 70%;
  padding: 4% 0 3% 3%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_likes .menu_wrapper_drinks_slider_slide_likes_like .fa-heart {
  color: #6D4C41;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_likes .menu_wrapper_drinks_slider_slide_likes_like p {
  color: #6D4C41;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 3%;
  display: flex;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_likes .menu_wrapper_drinks_slider_slide_likes_like p span {
  color: #6D4C41;
  opacity: 0.8;
  padding-left: 3%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_likes .menu_wrapper_drinks_slider_slide_description_ml {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  padding: 4% 3%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_likes .menu_wrapper_drinks_slider_slide_description_ml h6 {
  color: #6D4C41;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 18px;
  opacity: 0.7;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_order {
  display: none;
  justify-content: center;
  background-color: #F5F5F5;
  padding: 1% 0 5%;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_order .menu_wrapper_drinks_slider_slide_order_button {
  border: 2px solid #5D4037;
  color: #5D4037;
  width: 90%;
  padding: 2% 0;
  background-color: #F5F5F5;
  text-transform: uppercase;
  font-family: Passion One, cursive;
  font-weight: 700;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide .menu_wrapper_drinks_slider_slide_order .menu_wrapper_drinks_slider_slide_order_button:hover {
  opacity: 1;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide:hover {
  transform: scale(1.2, 1.2);
  transition-timing-function: ease-out;
  transition-duration: 550ms;
  position: relative;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider .menu_wrapper_drinks_slider_slide:hover .menu_wrapper_drinks_slider_slide_order {
  display: flex;
}
#menu main .menu_wrapper .menu_wrapper_block .menu_wrapper_drinks_slider.active {
  display: flex;
}
#menu main .menu_wrapper .menu_wrapper_buttons {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-top: 7%;
  padding-bottom: 2%;
  margin-left: 5%;
}
#menu main .menu_wrapper .menu_wrapper_buttons .menu_wrapper_buttons_button {
  outline: none;
  width: 100%;
  padding: 8% 0;
  background-color: #fff;
  text-transform: uppercase;
  font-family: Passion One, cursive;
  font-size: 25px;
  color: #5D4037;
  border: 2px solid #5D4037;
  cursor: pointer;
  margin: 10% 0;
}
#menu main .menu_wrapper .menu_wrapper_buttons .menu_wrapper_buttons_button.active {
  color: #FFA62A;
  border: 2px solid #FFA62A;
}
#menu footer .footer_top_map {
  width: 100%;
}
#menu footer .footer_top {
  background-image: url("../img/map.png");
  padding-bottom: 10%;
}
#menu footer .footer_top .footer_top_contact {
  margin: 5% 0 0 8%;
  width: 18%;
  display: flex;
  flex-direction: column;
}
#menu footer .footer_top .footer_top_contact h4 {
  color: #FFA726;
  text-transform: uppercase;
  font-family: Passion One, cursive;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5%;
}
#menu footer .footer_top .footer_top_contact h4 span {
  color: #5D4037;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_address {
  width: 100%;
  background-color: #FFA62A;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_address select {
  background-color: #FFA62A;
  padding: 3% 0;
  outline: none;
  border: none;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 16px;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_address select option {
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 18px;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone {
  width: 100%;
  background-color: #5D4037;
  padding: 5%;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone h6 {
  color: #fff;
  font-family: Passion One, cursive;
  font-weight: 600;
  font-size: 25px;
  border-bottom: 1px solid #FFA62A;
  padding-bottom: 8%;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone h6 span {
  color: #FFA62A;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description {
  display: flex;
  margin: 8% 0;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_left .fa-phone-volume {
  color: #FFA62A;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_right {
  width: 100%;
  margin-left: 5%;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_right p {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 20px;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_right p:nth-child(2) {
  margin: 3% 0 5%;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_right .footer_top_contact_form_phone_right_social {
  width: 70%;
  display: flex;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_right .footer_top_contact_form_phone_right_social a {
  width: 32%;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_right .footer_top_contact_form_phone_right_social a img {
  width: 100%;
}
#menu footer .footer_top .footer_top_contact .footer_top_contact_form .footer_top_contact_form_phone .footer_top_contact_form_phone_description .footer_top_contact_form_phone_right .footer_top_contact_form_phone_right_social a:nth-child(2) {
  margin: 0 5%;
}
#menu footer .footer_down {
  display: flex;
  justify-content: space-between;
  background-color: #5D4037;
  padding: 1% 8%;
}
#menu footer .footer_down .footer_down_left {
  width: 40%;
  display: flex;
  justify-content: flex-start;
}
#menu footer .footer_down .footer_down_left h5 {
  margin-left: 3%;
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 18px;
  opacity: 0.7;
}
#menu footer .footer_down .footer_down_right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
#menu footer .footer_down .footer_down_right h5 {
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 18px;
  opacity: 0.7;
}
